<section id="acercadenosotros" class="AcercaDeNosotros">
    <div class="lineasHorizontales">
        <div class="horizontal-barIzq"></div>
        <p class="TitulosSection">¿Quienes Somos?</p>
        <div class="horizontal-barDer"></div>
    </div>

    <div class="DivPrincipal">
        <div class="ImagenCyber">
            <img src="./assets/cyber2.png" alt="" />
        </div>
        <div class="TextCyber">
            <h3>Visión</h3>
            <p>Ser una empresa líder a nivel nacional en el área de capacitación y formación contínua reconocida por su
                innovación en contenidos prácticos aplicados a la realidad actual y docentes altamente capacitados</p>

            <h3>Misión</h3>
            <p>ransmitir a través de la formación contínua nuevos conocimientos, habilidades y destrezas de calidad que
                eleven el nivel de satisfacción de los participantes</p>
        </div>
    </div>
    
    <div class="lineasHorizontales">
        <div class="horizontal-barIzq"></div>
        <p class="TitulosSection">Nuestra Corporación</p>
        <div class="horizontal-barDer"></div>
    </div>
    
    <p class="CorporacionDesc">Nuestra institución pertenece a una red líder en tecnología y formación profesional de primer nivel</p>
    <div class="LogosEmpresas">
        <img src="./assets/aleman.png" alt="" />
        <img class="cca" src="./assets/logo_cca.png" alt="" />
        <img src="./assets/logo_cybercorp.png" alt="" />
        <img src="./assets/logo_esam_principal.png" alt="" />
        <img src="./assets/logo_intradigital.png" alt="" />
        <img src="./assets/logo_ciberkids.png" alt="" />
    </div>
    <div id="contactos"></div>
</section>