<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <img class="menu" src="./assets/menu.png" />
    </label>
    <a href="#" class="enlace">
        <div class="divCyber">
            <a href="#" class="logo">Cybercorp </a>
            <a href="#" class="logo">Academy </a>
        </div>   
    </a>
    <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#cursos" >Cursos</a></li>
        <li><a href="#acercadenosotros">Acerca de Nosotros</a></li>
        <li><a href="#contactos">Contactos</a></li>
        <li>
            <button class="btnIniciarSesion">Iniciar Sesión</button>
        </li>
    </ul>
</nav>
