<section id="contactos" class="Contactos" >
  <div class="lineasHorizontales">
    <div class="horizontal-barIzq"></div>
    <p class="TitulosSection">Preguntas Frecuentes</p>
    <div class="horizontal-barDer"></div>
  </div>

  <div class="main-container" > 
    <div class="cards">
      <div class="card card-1">
        <div class="card__icon"></div>
        <h2 class="card__title"><strong>¿Cuánto tiempo dura un curso?</strong></h2>
        <p class="card_texto">Contamos con cursos que tienen una duración que van desde las 4 horas hasta las 150 horas
          académicas repartidos en sesiones de zoom de 2 horas cada una.</p>
      </div>
      <div class="card card-2">
        <div class="card__icon"></div>
        <h2 class="card__title"><strong>¿Qué beneficio me da tomar un curso con Cybercorp Academy?</strong></h2>
        <p class="card_texto">Además de ayudar en tu proceso de formación profesional calidad de docentes y contenido,
          cada curso cuenta con una certificación con valor curricular otorgada por universidades de gran relevancia del
          país.</p>

      </div>
      <div class="card card-3">
        <div class="card__icon"></div>
        <h2 class="card__title"><strong>¿En cuánto tiempo recibo mi certificado?</strong></h2>
        <p class="card_texto">La entrega de certificados con valor curricular tienen un tiempo de entrega de 2 semanas
          después de culminado el curso.</p>
      </div>
      <div class="card card-4">
        <div class="card__icon"></div>
        <h2 class="card__title"><strong>¿Qué tan flexible pueden ser los horarios?</strong></h2>
        <p class="card_texto">La mayoría de cursos tiene horarios nocturos, pero si no puedes pasar la clase en vivo no
          te preocupes, todas nuestras clases son grabadas y tienes acceso a cada video para que puedas pasar la clase
          en el momento mas cómodo para ti.</p>

      </div>
      <div class="card card-5">
        <div class="card__icon"></div> 
        <h2 class="card__title">Ut aliquip ex ea commodo consequat. Duis aute irure dolor.</h2>

      </div>
      <div class="card card-1">
        <div class="card__icon"></div>
        
        <h2 class="card__title">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h2>
      </div>
    </div>
  </div>

  
  <div class="principal" >
    <div class="secundario1">
      <div class="terciario">
        <input class="Input1" placeholder="Nombre" type="text" name="Name" />
        <input class="Input2" placeholder="Telefono" type="text" name="Phone" />
        <textarea class="Textarea1" placeholder="Mensajes" type="text" name="Message"></textarea>
        <button class="btnsend">Enviar</button>
        <h3 class="Contactar">Contactame</h3>
        <div class="MasInformacion">
          <img class="phone" src="./assets/gps.png" />
          <p>Calle suipacha N° 667</p>
        </div>
        <div class="MasInformacion">
          <img class="phone" src="./assets/ring-phone.png" />
          <p>+591 75126222</p>
        </div>
      </div>
    </div>
    <div  class="secundario2"></div>
  </div>
</section>
<div></div>