*{
    font-family: Helvetica;   
}
section.Areas{ 
    width: 100%;
    height: auto;
    position: relative;
    background-size: cover;
    background-color: #27A7C5; 
    padding-top: 2%;
    padding-bottom: 6%;   
}
.lineasHorizontales{
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding-top: 40px; 
}
p.TitulosSection{
    color: white;
    font-size: 50px;
    text-align: center;   
}
.horizontal-barIzq {
    width: 50px;
    height: 6px;
    background-color: white;
    margin: 20px 0;
    margin-top: 40px;
    margin-left: 35%;   
}
.horizontal-barDer {
    width: 50px;
    height: 6px;
    background-color: white;
    margin: 20px 0;
    margin-top: 40px;
    margin-right: 35%;   
}



.AreasImagenes {
  display: flex;
  width: 60%;
  height: 500px;
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 25px;
  position: relative;
  
  
}
.AreasImagenes img{
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: .8;
  transition: .5s ease;
  
}
.AreasImagenes div img:hover{
  cursor: crosshair;
  width: 140%;
  opacity: 1;
  filter: contrast(120%);
 z-index: 1;
}
.AreasImagenes div{
  width: 25%;
  height: 100%;
  
}
.AreasImagenes div img{
  position: relative;
  width: 100%;
  height: 100%;
 
}


.AreasImagenes div p {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 1%;
}
.DivSalud:hover p.salud{
  display: block;
  width: 33%;
  height: 10%;
  margin-left: 25%;
  font-size: 280%;
  z-index: 1;
  margin-bottom: 0px;
  text-align: center;
  
 }
 .DivIngenieria:hover .ingenieria{
  display: block;
  width: 33%;
  height: 10%;
  margin-left: 0px;
  font-size: 280%;
  z-index: 1;
  margin-bottom: 0px;
  text-align: center;
 }
 .DivTecnologia:hover .tecnologia{
  display: block;
  width: 33%;
  height: 10%;
  margin-left: 50%;
  font-size: 280%;
  z-index: 1;
  margin-bottom: 0px;
  text-align: center;
 }
 .DivLegal:hover .legal{
  display: block;
  width: 33%;
  height: 10%;
  margin-left: 75%;
  font-size: 280%;
  z-index: 1;
  margin-bottom: 0px;
  text-align: center;
 }


@media (max-width:600px) {
  .AreasImagenes {
   width: 90%;
   padding: 0;
   margin-left: 13px;
  }
}