<section class="Areas">
   <div class="lineasHorizontales">
      <div class="horizontal-barIzq"></div>
      <p class="TitulosSection">Nuestras Áreas</p>
      <div class="horizontal-barDer"></div>
   </div>
   <div class="AreasImagenes">
      <div class="DivIngenieria">
         <img src="./assets/ingenieria.png" alt="" />
         <p class="ingenieria">Ingeniería</p>
      </div>
      <div class="DivSalud">
         <img src="./assets/salud2.jpg" alt="" />
         <p class="salud">Salud</p>
      </div>
      <div class="DivTecnologia">
         <img src="./assets/tecnologia2.jpg" alt="" />
         <p class="tecnologia">Tecnología</p>
      </div>
      <div class="DivLegal">
         <img src="./assets/legal2.jpg" alt="" />
         <p class="legal">Legal</p>
      </div>
   </div>
   <div id="cursos"></div>
</section>