<section class="Inicio" id="#inicio">
    <div class="Inicio-Presentacion">
       <div class="Inicio-TextoPresentacion">
          <h2 class="border">Cybercorp</h2>
          <h2 class="wave">Cybercorp</h2>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <h2 class="border">Academy</h2>
          <h2 class="wave">Academy</h2>
          <p class="subtitulo">
             Somos una organización con un enfoque novedoso en consultoría y servicios educativos, líderes en procesos de
             aprendizaje en negocios
          </p>
       </div>
       <div>
          <img class="LogoCybercorp" src="./assets/logoCyber3.png" alt="" />
       </div>
    </div>
 </section>
 