<section class="Cursos">
    <div class="lineasHorizontales">
        <div class="horizontal-barIzq"></div>
        <p class="TitulosSection">Nuestras Cursos</p>
        
        <div class="horizontal-barDer"></div>
    </div>
    <br>
    <br>
    <div class="AlinearCards">
       <div class="divcard"> 
        <div class="card">
            <div class="image">
                <img src="./assets/curso1.jpg" />
            </div>
            <div class="details">
                <div class="center">
                    <h1>POLÍTICAS PÚBLICAS Y LEY N° 1178 </h1><br>
                    <div class="Span_P">
                        <span>Inicio:</span>
                        <p>05 de Octubre</p>
                    </div>
                    <div class="Span_P">
                        <span>Duración</span>
                        <p>8 sesiones</p>
                    </div>
                    <div class="Span_P">
                        <span>Dias: </span>
                        <p>Lunes, Miercoles y viernes</p>
                    </div>
                    <div class="Span_P">
                        <span>Horarios: </span>
                        <p>19:00 a 21:00</p>
                    </div>
                    <div class="Span_P">
                        <span>Modalidad:</span>
                        <p>Online</p>
                    </div>
                    <div class="Span_P">
                        <span>Docente:</span>
                        <p>Lic. Josue Royo Soria</p>
                    </div>
                </div>
            </div>
            <div class="descripcion">
                <p class="descripcion2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur perspiciatis ut illum dolorem aliquid optio aliquam maiores, laboriosam ex ea. </p>
                <div class="Contacto">
                    <img class="phone" src="./assets/ring-phone.png" />
                </div>
            </div>
        </div>

       </div>
       <div class="divcard"> 
        <div class="card">
            <div class="image">
                <img src="./assets/curso1.jpg" />
            </div>
            <div class="details">
                <div class="center">
                    <h1>POLÍTICAS PÚBLICAS Y LEY N° 1178 </h1><br>
                    <div class="Span_P">
                        <span>Inicio:</span>
                        <p>05 de Octubre</p>
                    </div>
                    <div class="Span_P">
                        <span>Duración</span>
                        <p>8 sesiones</p>
                    </div>
                    <div class="Span_P">
                        <span>Dias: </span>
                        <p>Lunes, Miercoles y viernes</p>
                    </div>
                    <div class="Span_P">
                        <span>Horarios: </span>
                        <p>19:00 a 21:00</p>
                    </div>
                    <div class="Span_P">
                        <span>Modalidad:</span>
                        <p>Online</p>
                    </div>
                    <div class="Span_P">
                        <span>Docente:</span>
                        <p>Lic. Josue Royo Soria</p>
                    </div>
                </div>
            </div>
            <div class="descripcion">
                <p class="descripcion2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur perspiciatis ut illum dolorem aliquid optio aliquam maiores, laboriosam ex ea. Dolores labore quis aliquid .</p>
                <div class="Contacto">
                    <img class="phone" src="./assets/ring-phone.png" />
                </div>
            </div>
        </div>

       </div>
       <div class="divcard"> 
        <div class="card">
            <div class="image">
                <img src="./assets/curso1.jpg" />
            </div>
            <div class="details">
                <div class="center">
                    <h1>POLÍTICAS PÚBLICAS Y LEY N° 1178 </h1><br>
                    <div class="Span_P">
                        <span>Inicio:</span>
                        <p>05 de Octubre</p>
                    </div>
                    <div class="Span_P">
                        <span>Duración</span>
                        <p>8 sesiones</p>
                    </div>
                    <div class="Span_P">
                        <span>Dias: </span>
                        <p>Lunes, Miercoles y viernes</p>
                    </div>
                    <div class="Span_P">
                        <span>Horarios: </span>
                        <p>19:00 a 21:00</p>
                    </div>
                    <div class="Span_P">
                        <span>Modalidad:</span>
                        <p>Online</p>
                    </div>
                    <div class="Span_P">
                        <span>Docente:</span>
                        <p>Lic. Josue Royo Soria</p>
                    </div>
                </div>
            </div>
            <div class="descripcion">
                <p class="descripcion2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur perspiciatis ut illum dolorem aliquid optio aliquam maiores, laboriosam ex ea. Dolores labore quis aliquid quos architecto </p>
                <div class="Contacto">
                    <img class="phone" src="./assets/ring-phone.png" />
                </div>
            </div>
        </div>
       </div>
       <div class="divcard"> 
        <div class="card">
            <div class="image">
                <img src="./assets/curso1.jpg" />
            </div>
            <div class="details">
                <div class="center">
                    <h1>POLÍTICAS PÚBLICAS Y LEY N° 1178 </h1><br>
                    <div class="Span_P">
                        <span>Inicio:</span>
                        <p>05 de Octubre</p>
                    </div>
                    <div class="Span_P">
                        <span>Duración</span>
                        <p>8 sesiones</p>
                    </div>
                    <div class="Span_P">
                        <span>Dias: </span>
                        <p>Lunes, Miercoles y viernes</p>
                    </div>
                    <div class="Span_P">
                        <span>Horarios: </span>
                        <p>19:00 a 21:00</p>
                    </div>
                    <div class="Span_P">
                        <span>Modalidad:</span>
                        <p>Online</p>
                    </div>
                    <div class="Span_P">
                        <span>Docente:</span>
                        <p>Lic. Josue Royo Soria</p>
                    </div>
                </div>
            </div>
            <div class="descripcion">
                <p class="descripcion2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur perspiciatis ut illum dolorem aliquid optio aliquam maiores, laboriosam ex ea. Dolores labore quis aliquid quos architecto </p>
                <div class="Contacto">
                    <img class="phone" src="./assets/ring-phone.png" />
                </div>
            </div>
        </div>
       </div>
       <div class="divcard"> 
        <div class="card">
            <div class="image">
                <img src="./assets/curso1.jpg" />
            </div>
            <div class="details">
                <div class="center">
                    <h1>POLÍTICAS PÚBLICAS Y LEY N° 1178 </h1><br>
                    <div class="Span_P">
                        <span>Inicio:</span>
                        <p>05 de Octubre</p>
                    </div>
                    <div class="Span_P">
                        <span>Duración</span>
                        <p>8 sesiones</p>
                    </div>
                    <div class="Span_P">
                        <span>Dias: </span>
                        <p>Lunes, Miercoles y viernes</p>
                    </div>
                    <div class="Span_P">
                        <span>Horarios: </span>
                        <p>19:00 a 21:00</p>
                    </div>
                    <div class="Span_P">
                        <span>Modalidad:</span>
                        <p>Online</p>
                    </div>
                    <div class="Span_P">
                        <span>Docente:</span>
                        <p>Lic. Josue Royo Soria</p>
                    </div>
                </div>
            </div>
            <div class="descripcion">
                <p class="descripcion2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur perspiciatis ut illum dolorem aliquid optio aliquam maiores, laboriosam ex ea. Dolores labore quis aliquid quos architecto </p>
                <div class="Contacto">
                    <img class="phone" src="./assets/ring-phone.png" />
                </div>
            </div>
        </div>
       </div>
       <div class="divcard"> 
        <div class="card">
            <div class="image">
                <img src="./assets/curso1.jpg" />
            </div>
            <div class="details">
                <div class="center">
                    <h1>POLÍTICAS PÚBLICAS Y LEY N° 1178 </h1><br>
                    <div class="Span_P">
                        <span>Inicio:</span>
                        <p>05 de Octubre</p>
                    </div>
                    <div class="Span_P">
                        <span>Duración</span>
                        <p>8 sesiones</p>
                    </div>
                    <div class="Span_P">
                        <span>Dias: </span>
                        <p>Lunes, Miercoles y viernes</p>
                    </div>
                    <div class="Span_P">
                        <span>Horarios: </span>
                        <p>19:00 a 21:00</p>
                    </div>
                    <div class="Span_P">
                        <span>Modalidad:</span>
                        <p>Online</p>
                    </div>
                    <div class="Span_P">
                        <span>Docente:</span>
                        <p>Lic. Josue Royo Soria</p>
                    </div>
                </div>
            </div>
            <div class="descripcion">
                <p class="descripcion2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur perspiciatis ut illum dolorem aliquid optio aliquam maiores, laboriosam ex ea. Dolores labore quis aliquid quos architecto </p>
                <div class="Contacto">
                    <img class="phone" src="./assets/ring-phone.png" />
                </div>
            </div>
        </div>
       </div>  
    </div>
   
    
  
</section>
<div id="acercadenosotros"></div>